:root {
  --color-bg: #1A202C;
  --color-light-bg: #E2E8F0;
  --color-primary: #2D3748;
  --color-font: #EDF2F7;
  --color-secondary-font: #A0AEC0;
  --color-link: #38B2AC;
  --color-link-contact: #1565C0;
  --color-link-hover: #389697;
  --color-link-focus: #2C7A7B;
  --color-accent: #FF6347;
  --font-size-base: 1rem;
  --font-size-large: 2rem;
  --font-size-small: 0.75rem;
  --padding-base: 1rem;
  --max-width-large: 47.5rem;
  --primary-font: 'Helvetica Neue', sans-serif;
  --secondary-font: 'Georgia', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  background-color: var(--color-bg);
  color: var(--color-font);
  line-height: 1.6;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary);
  padding: calc(var(--padding-base) * 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 1000;
}

html {
  scroll-behavior: smooth;
}

.contact-links a {
  color: var(--color-link-contact);
  transition: color 0.3s ease;
}

.contact-links a:hover,
.contact-links a:focus {
  color: var(--color-link-hover);
  outline: none;
}

.profile-image img {
  height: 2.5em;
  border-radius: 60%;
  margin-top: -0.5em;
  transform: translateY(20%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.nav-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-left {
  padding-right: 1.25em;
}

.nav-right {
  padding-left: 1.25em;
  padding-top: 0.225em;
  margin-left: auto;
}

.nav-left li,
.nav-right li {
  margin: 0 2.25em;
}

.nav-right li {
  margin: 0 1.3125em;
}

.nav-left li a,
.nav-right li a {
  text-decoration: none;
  color: var(--color-link);
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-left li a:hover,
.nav-right li a:hover,
.nav-left li a:focus,
.nav-right li a:focus {
  color: var(--color-link-hover);
  outline: none;
}

.nav-icon {
  display: none;
}

@media (max-width: 768px) {
  .nav-right {
    position: absolute;
    right: 0;
    top: 5.3vh;
    width: 30%;
    height: 30%;
    min-height: 130px;
    min-width: 200px;
    background-color: var(--color-bg);
    flex-direction: column;
    clip-path: circle(0 at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-right.open {
    clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-icon {
    display: block;
    position: absolute;
    right: 5%;
    top: 5%;
    transform: translateY(40%);
  }
}

.about {
  text-align: left;
}

.about-image {
  height: 19em;
}

.container {
  text-align: center;
  padding: var(--padding-base);
  max-width: 50em;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

h2 {
  margin-top: 1.875em;
  font-size: 1.5em;
}

ul {
  text-align: left;
}

.collapsible {
  background: linear-gradient(to right, #6c757d 0%, var(--color-primary) 100%);
  color: var(--color-link);
  text-decoration: none;
  cursor: pointer;
  height: 3.125em;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1em;
  transition: all 0.3s ease;
  margin-bottom: 0.5em;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 600;
}

.collapsible:hover,
.collapsible:focus {
  background: linear-gradient(to right, var(--color-primary) 0%, #3c3c3c 100%);
  color: var(--color-font);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

.collapsible.active {
  background: linear-gradient(to right, var(--color-primary) 0%, #3c3c3c 100%);
  color: var(--color-font);
}

.collapsible-content {
  padding: var(--padding-base);
  background-color: var(--color-primary);
  color: var(--color-font);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  font-family: var(--primary-font);
}

.collapsible-content h2 {
  font-size: var(--font-size-large);
  color: var(--color-link);
  margin-bottom: 10px;
}

.collapsible-content h3 {
  font-size: var(--font-size-base);
  color: var(--color-link-hover);
  margin-bottom: 10px;
}

.collapsible-content p {
  font-size: var(--font-size-base);
  line-height: 1.5em;
  margin-bottom: 10px;
}

.collapsible-content ul {
  list-style-type: square;
  margin-left: 20px;
}

.collapsible-content li {
  margin-bottom: 5px;
  font-size: var(--font-size-base);
}

.collapsible-content img {
  max-width: 100%;
  height: auto;
}

.content {
  padding: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--color-primary);
  max-height: 0;
  color: var(--color-font);
}

.content p {
  margin: 0.5em 0;
  padding: 0 1.125em;
}

.content li {
  margin: 0.5em 0;
  padding: 0 2em;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.project-image:hover {
  animation: bounce 0.6s forwards;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  grid-gap: 1em;
  width: 60vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -30vw;
  margin-right: -30vw;
}

@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project {
  text-align: center;
  position: relative;
  /* max-width: 18.75em; */
  /* margin: 0 auto; */
}

.project-image {
  width: 100%;
  max-width: 18.75em;
  height: auto;
}

.text-left {
  text-align: left;
}

.section-image-hive {
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

/* .section-image-studium {
  width: 12rem;
  display: block;
  margin: 0 auto;
}
.section-image-gbg {
  width: 10rem;
  transform: translateY(70px);
  display: block;
  margin: 0 auto;
}
.section-image-gbg {
  width: 10rem;
  display: block;
  margin: 0 auto;
}
.section-image-hassel {
  width: 12rem;
  transform: translateY(90px);
  display: block;
  margin: 0 auto;
} */
.grid-container {
  display: block;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 20px;
}

.job-title {
  font-size: 1.3em;
  color: var(--color-link-hover);
  font-weight: bold;
}

.company {
  font-size: 1em;
  color: var(--color-font);
  font-weight: bold;
}

.location {
  font-size: 1em;
  color: var(--color-font);
}

.job-date {
  font-size: 0.8em;
  color: var(--color-link);
}

blockquote {
  margin: 1.5rem;
  padding: 1rem;
  quotes: "“" "”";
}

blockquote:before {
  color: var(--color-link);
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

blockquote footer {
  display: block;
  margin-top: 0.5rem;
  font-size: var(--font-size-small);
  text-align: right;
  color: var(--color-link);
}

.copyright {
  text-align: center;
  margin: 0 auto;
  font-size: 0.625em;
}

#education,
#work-experience {
  width: 100%;
  margin: 0 auto;
}


@media (max-width: 539.98px) {
  body {
    padding: 0 var(--padding-base);
  }
}

@media (min-width: 540px) and (max-width: 575.98px) {
  body {
    padding: 0 calc(var(--padding-base) * 1.25);
  }
}

@media (min-width: 576px) {
  body {
    padding: 0 calc(var(--padding-base) * 1.5);
  }
}

@media (min-width: 768px) {
  body {
    padding: 0 calc(var(--padding-base) * 2);
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 calc(var(--padding-base) * 3);
  }
}

@media (min-width: 1200px) {
  body {
    padding: 0 calc(var(--padding-base) * 4);
  }
}