:root {
  --color-bg-variant: #1A202C;
  --color-primary: #2D3748;
  --color-font: #EDF2F7;
  --color-link: #38B2AC;
  --color-link-hover: #2C7A7B;
  --color-link-focus: #2C7A7B;
  --font-size-base: 1rem; /* 16px */
  --font-size-large: 2rem; /* 32px */
  --font-size-small: 0.75rem; /* 12px */
  --padding-base: 1rem; /* 16px */
  --max-width-large: 47.5rem; /* 760px */
  --primary-font: 'Helvetica Neue', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-variant);
  color: var(--color-font);
  line-height: 1.6;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary);
  padding: calc(var(--padding-base) * 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.profile-image img {
  height: 2.5em;
  border-radius: 50%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.nav-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-left {
  padding-right: 1.25em;
}

.nav-right {
  padding-left: 1.25em;
  padding-top: 0.625em;
  margin-left: auto;
}

.nav-left li,
.nav-right li {
  margin: 0 2.25em;
}

.nav-right li {
  margin: 0 1.3125em;
}

.nav-left li a,
.nav-right li a {
  text-decoration: none;
  color: var(--color-link);
  font-weight: bold;
  transition: color 0.3s ease;
  /* padding: 12px 24px; */ /* Make tap targets larger */
}

.nav-left li a:hover,
.nav-right li a:hover,
.nav-left li a:focus,
.nav-right li a:focus {
  color: var(--color-link-hover);
  outline: none;
  /* outline: 1px solid var(--color-link-focus); */ /* Clear focus style */
}

.nav-icon {
  display: none;
}

@media (max-width: 768px) {
  .nav-right {
    position: absolute;
    right: 0;
    height: 10vh;
    width: 19vh;
    top: 6.3vh;
    background-color: var(--color-bg-variant);
    flex-direction: column;
    clip-path: circle(0 at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-right.open {
    clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-icon {
    display: block;
    position: absolute;
    right: 5%;
    top: 5%;
  }
}

.about {
  text-align: left;
}

section {
  margin-top: var(--padding-base);
  padding: var(--padding-base);
}

.container {
  text-align: center;
  padding: var(--padding-base);
  max-width: 50em;
  margin: auto;
}

h2 {
  margin-top: 1.875em;
  font-size: 1.5em;
}

ul {
  text-align: left;
}

.collapsible {
  background-color: #6c757d;
  color: var(--color-link);
  text-decoration: none;
  cursor: pointer;
  height: 3.125em;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-bottom: 0.5em;
}

.collapsible:hover,
.collapsible:focus {
  background-color: var(--color-primary);
  outline: none;
}

.collapsible.active {
  background-color: var(--color-primary);
}

.content {
  padding: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #343a40;
  max-height: 0;
  color: var(--color-font);
}

.content p {
  margin: 0.5em 0;
  padding: 0 1.125em;
}

.project-image {
  width: 22.5em;
  height: 14.1875em;
  display: block;
  margin: 0 auto;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  grid-gap: 5em;
}

.project {
  text-align: center;
}

.project-container {
  text-align: center;
  padding: var(--padding-base);
  max-width: 90%;
  margin: 0 auto;
}

.section-image {
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.copyright {
  text-align: center;
  margin: 0 auto;
  font-size: 0.625em;
}

/* For screens smaller than 540px wide */
@media (max-width: 539.98px) {
  body {
    padding: 0 var(--padding-base);
  }
}

/* For screens between 540px and 575px wide */
@media (min-width: 540px) and (max-width: 575.98px) {
  body {
    padding: 0 calc(var(--padding-base) * 1.25);
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    padding: 0 calc(var(--padding-base) * 1.5);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    padding: 0 calc(var(--padding-base) * 2);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    padding: 0 calc(var(--padding-base) * 3);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    padding: 0 calc(var(--padding-base) * 4);
  }
}