body {
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #f0f0f0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #555;
  padding-top: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
}

.profile-image img {
  height: 40px;
  border-radius: 50%;
}

.nav-left,
.nav-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-left {
  padding-right: 20px;
}

.nav-right {
  padding-left: 20px;
  padding-top: 10px;
}

.nav-left li {
  margin: 0px 36px;
}

.nav-right li {
  margin: 0px 21px;
}

.nav-left li a,
.nav-right li a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-left li a:hover,
.nav-right li a:hover {
  color: #fff;
}

section {
  margin-top: 80px;
  padding: 20px;
}

.container {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  margin-top: 30px;
  font-size: 24px;
}

.collapsible {
  background-color: #999999;
  color: rgb(0, 0, 255);
  text-decoration: underline;
  cursor: pointer;
  height: 50px;
  width: 100%;
  border: none;
  text-align: center !important;
  outline: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-bottom: 8px;
}

.collapsible:hover {
  background-color: #555;
}

.collapsible.active {
  background-color: #555;
}

.content {
  padding: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #444;
  max-height: 0;
  color: #f0f0f0;
}

.content p {
  margin: 8px 0;
  padding: 0 18px;
}

.project-image {
  width: 409px;
  height: 227px;
  display: block;
  margin: 0 auto;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 20px;
}

.project {
  text-align: center;
}

.project-container {
  text-align: center;
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
}

.section-image {
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}
