/*Universal Value*/

body {
	background-color: coral;
	opacity: 0.9;
	margin: 0;
	font-size: 1vw;
	font-family: sans-serif;
	color: antiquewhite;
	text-align: center;
}
.flex-items {
	display: flex;
	/* justify-content: center; */
	flex-wrap: wrap;
}
.main {
	padding-top: 3.6vw;
	opacity: 0.9;
	width: 625vw;
	margin: auto;
}

/*Header*/

header {
	width: 100%;
	position: fixed;
	z-index: 1;
	height: 100px;
	border-top: 10px solid lightsalmon;
	border-bottom: 10px solid lightsalmon;
	align-items: center;
	background-color: #7a1f00;
}
nav {
	text-align: right;
	flex-grow: 1;
}
a {
	color: lightsalmon;
}
nav a {
	display: inline-block;
}

/*About*/

#about {
	height: 700px;
	padding-top: 0px;
}
#about .content {
	margin: auto;
	background-color: #e03800;
	width: 100%;
}

/*Copyright*/

footer {
	font-family: monospace;
  	text-align: right;
}
